{{ define "__subject" }}{{ if gt (len .Alerts.Resolved) 0 }}{{ (index .Alerts.Resolved 0).Labels.alertname }} {{ (index .Alerts.Resolved 0).Labels.instance }}{{ else if gt (len .Alerts.Firing) 0 }}{{ (index .Alerts.Firing 0).Labels.alertname }}{{ (index .Alerts.Firing 0).Labels.instance }} {{ else }} {{ .GroupLabels.SortedPairs.Values | join " " }} {{ end }}{{ end }}


{{ define "email.bmc.subject" }}DBaaS: {{ template "__subject" . }} {{ end }}

{{ define "email.dbaas.subject" }}腾讯云-Prod: {{ template "__subject" . }} {{ end }}


{{ define "email.dbaas.html" }}
<html>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;" />
<body>
<table>
{{ if gt (len .Alerts.Resolved) 0 }}[{{ .Alerts.Resolved | len }}] Resolved

{{ range .Alerts.Resolved }}
<tr><td>alarm status: {{ .Status }}</td></tr>
<tr><td>alarm time: {{.StartsAt}}</td></tr>
<tr><td>alarm detail: {{ .Annotations.description }}</td></tr>
<tr><td>alarm object: {{ .Labels.instance }}</td></tr>
<tr><td>cluster name: 腾讯云-Prod</td></tr>
<tr><td>container name:{{ if not .Labels.container_id }} null {{ else }} {{ .Labels.container_id }} {{ end }}</td></tr>
<tr><td>alarm severity: {{ .Labels.severity }}</td></tr>
{{ end }}

{{ else }}

{{ if gt (len .Alerts.Firing) 0 }}[{{ .Alerts.Firing | len }}] Firing
{{ range .Alerts.Firing }}
<tr><td>alarm status: {{ .Status }}</td></tr>
<tr><td>alarm time: {{.StartsAt}}</td></tr>
<tr><td>alarm detail: {{ .Annotations.description }}</td></tr>
<tr><td>alarm object: {{ .Labels.instance }}</td></tr>
<tr><td>cluster name: 腾讯云-Prod</td></tr>
<tr><td>container name:{{ if not .Labels.container_id }} null {{ else }} {{ .Labels.container_id }} {{ end }}</td></tr>
<tr><td>alarm severity: {{ .Labels.severity }}</td></tr>
{{ end }}
{{ end }}

{{ end }}
</table>
</body>
</html>
{{ end }}
